[Unit]
Description=sapconf
After=syslog.target systemd-sysctl.service network.target

[Service]
ExecStart=/usr/sbin/sapconf start
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
